<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I' m from Switzerland. Former business graduate who spent a decade traveling (Aus, NZ, Italy, SE Asia).
I am now seeking a new path in web dev to merge my life experience with a dynamic career.</p>
      </div>
    </div>
  </div>
</div>
